.markdown {
    overflow-x: wrap;
    overflow-y: auto;
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: var(--shadow-1);
}

.markdown pre  {
    background-color: #FFF3;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-0);
}

.markdown blockquote > p {
    background-color: #FFF3;
    padding: 0.5rem;
    box-shadow: var(--shadow-0);
    border-left: 4px solid gray;
    overflow-x: wrap;
}